{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
td {
   border: 3px solid black;
}
</style>
<div>	
	Functional Behavior Assessment Tool
</div>

<div>	
<tbody>
                        <tr>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="invisible">
                                <img alt=" " src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-line-up-right.png">
                            </td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="title-header">Activity or Event</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                        </tr>
                        <tr>
                            <td class="container-info"></td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                        </tr>
                        <tr>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="title-header"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="invisible">
                                <img alt=" " src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-line-down-right.png">
                            </td>
                            <td class="invisible">
                                <img src="https://ahrc.eq.edu.au/_layouts/15/AHRC/images/fba-tool/fbatool-arrow-right.png" alt="">
                            </td>
                            <td class="container-info"></td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                            <td class="arrow-background">
                                <div class="arrow-div"></div>
                            </td>
                            <td class="container-column-empty">&nbsp;</td>
                        </tr>
                    </tbody>
</div>




{% endblock %}